@import "partials/setup";


body {
	background: cadetblue;
}

.wrapper {
	width: 60%;
	max-width: 1170px;
	margin: 0 auto;
}

header {
	background: red;
}
.hero {
	background-image: url("../../assets/hero.jpeg");
	height: 85vh;
	background-position: center 80%;
	background-repeat: no-repeat;
	background-size: cover;
}
nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	p {
		font-size: 2.4rem;
	}
	ul {
		list-style: none;
		display: flex;
		flex-direction: row;
		width: 35%;
		justify-content: space-between;
		a {
			text-decoration: none;
			color: black;
		}
	}
}
.headerContent {
	width: 50%;
}