@import "partials/setup";
@import "partials/header";
@import "partials/body";
@import "partials/footer";

.landing {
	margin-top: 150px;
}

.introContent {
	display: flex;
    justify-content: space-between;
    position: relative;
    margin-left: 15%;
    h2 {
    	width: 18%;
    	z-index: 99;
    	position: absolute;
    	top: 0;
    	left: -15%;
    	font-weight: 100;
    	span {
    		font-weight: 600;
    		color: inherit;
    		span {
    			margin-left: 70%;
    		}
    	}
    }
    .description {
    	width: 65%;
    	border: 10px solid rgb(255, 178, 163);
    	padding: 75px 120px;
    	position: relative;
    }
    .description:after {
    	position: absolute;
    	content: '';
    	top: 10px;
    	left: 10px;
    	width: 100%;
    	height: 100%;
    	border: 10px solid rgba(211, 211, 211, 0.25);
    	z-index: -9;

    }
    .blogNav {
    	width: 25%;
    	position: relative;
    	ul {
		    list-style: none;
		    margin: 0;
		    padding: 0;
		    position: absolute;
		    right: 0;
		    bottom: -25%;
		    li {
		    	padding: 10px 0;
		    	a {
		    		font-size: 1.3rem;
		    		margin: 0;
		    		padding: 0;
		    		position: relative;
		    		text-decoration: none;
		    		color: grey;
		    		pointer-events: none;
		    	}
		    }
		    li a:before {
		    	content: '\f0da';
		    	font-family: FontAwesome;
		    	position: absolute;
		    	top: 3px;
		    	left: -20px;
		    	color: rgb(255, 178, 163);
		    	font-size: inherit;
		    	display: none;
		    }
		    li:hover {
		    	a{
		    		color: rgb(255, 178, 163);
		    	}
		    	a:before{
		    		display: inline;
		    	}
		    }
    	}
    }
}

.portfolioContent {
	h2 span {
		margin-left: 10%;
	}
}

.dashboardWrap {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.dashboardTop {
	width: 100%;
    display: flex;
    flex-direction: row;
    height: 70vh;
}
.dashboardMain {
	width: 40%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 100%;
}

.dashboardSide, .dashboardBottom {
	display: flex;
	flex-direction: row;
}

.dashboardSide {
	width: 60%;
    flex-wrap: wrap;
}
.dashboardBottom {
	width: 100%;
	justify-content: space-between;
	height: 30vh;
}
.imageWrap {
	width: calc(33% - 10px);
    margin: 5px;
    padding: 10px;
}
.imageWrap1 {
	width: 100%;
	background: url("../../assets/blog_03.jpeg");
	background-position: center center;
    background-size: cover;
}
.imageWrap2 {
	width: calc(55% - 10px);
	height: calc(60% - 10px);
	background: url("../../assets/blog_02.jpeg");
	background-position: center center;
    background-size: cover;
}
.imageWrap3 {
	width: calc(45% - 10px);
	height: calc(60% - 10px);
	background: url("../../assets/portfolio_01.jpeg");
	background-position: center center;
    background-size: cover;
}
.imageWrap4 {
	width: calc(100% - 10px);
	height: calc(40% - 10px);
	background: url("../../assets/leaves.jpeg");
	background-position: center center;
    background-size: cover;
}
.imageWrap5 {
	background: url("../../assets/cat-furniture.jpeg");
	background-position: center center;
    background-size: cover;

}
.imageWrap6 {
	background: rgb(255, 178, 163);

}
.imageWrap7 {
	background: url("../../assets/blog_05.jpeg");
	background-position: center center;
    background-size: cover;

}
.imageWrap:hover {
	.imageDescription {
		display: flex;
	}
}
.imageDescription {
	text-align: center;
    color: white;
    background: #ffb2a3;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
	h5 {
		margin: 0;
		font-size: 2.0rem;
		position: relative;
	}
	h5:after{
		position: absolute;
		content: '';
		width: 30%;
		height: 2px;
		background: white;
		bottom: -10px;
		left: 35%;
	}
	p {
		font-size: 1.6rem;
	}
}

.blockquote {
	color: white;
	font-family: 'Lora', serif;
	font-weight: 100;
	text-align: center;
	vertical-align: middle;
	p {
		display: flex;
		flex-direction: column;
		align-items: center;
		align-content: center;
	}
	span {
		color: white;
		font-weight: 900;
	}
}
