@import "partials/setup";
@import "partials/header";
@import "partials/body";
@import "partials/footer";

.landing {
	margin-top: 150px;
}

.introContent {
	display: flex;
    justify-content: space-between;
    position: relative;
    margin-left: 15%;
    h2 {
    	width: 18%;
    	z-index: 99;
    	position: absolute;
    	top: 0;
    	left: -15%;
    	font-weight: 100;
    	span {
    		font-weight: 600;
    		color: inherit;
    		span {
    			margin-left: 70%;
    		}
    	}
    }
    .description {
    	width: 65%;
    	border: 10px solid rgb(255, 152, 132);
    	padding: 75px 120px;
    	position: relative;
    }
    .description:after {
    	position: absolute;
    	content: '';
    	top: 10px;
    	left: 10px;
    	width: 100%;
    	height: 100%;
    	border: 10px solid rgba(211, 211, 211, 0.25);
    	z-index: -9;

    }
    .blogNav {
    	width: 25%;
    	position: relative;
    	ul {
		    list-style: none;
		    margin: 0;
		    padding: 0;
		    position: absolute;
		    right: 0;
		    bottom: -25%;
		    li {
		    	padding: 10px 0;
		    	a {
		    		font-size: 1.3rem;
		    		margin: 0;
		    		padding: 0;
		    		position: relative;
		    		text-decoration: none;
		    		color: grey;
		    		pointer-events: none;
		    	}
		    }
		    li a:before {
		    	content: '\f0da';
		    	font-family: FontAwesome;
		    	position: absolute;
		    	top: 3px;
		    	left: -20px;
		    	color: rgb(255, 152, 132);
		    	font-size: inherit;
		    	display: none;
		    }
		    li:hover {
		    	a{
		    		color: rgb(255, 152, 132);
		    	}
		    	a:before{
		    		display: inline;
		    	}
		    }
    	}
    }
}

.portfolioContent {
	h2 span {
		margin-left: 10%;
	}
}

.dashboardWrap {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.dashboardMain {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.dashboardSecond {
	width: 100%;
	display: flex;
	flex-direction: row;
}
.imageWrap {
	width: calc(33% - 20px);
    background: cadetblue;
    height: 400px;
    margin: 5px;
}


